nav { display: flex; justify-content: center; }

nav a { margin: 0px 10px; padding: 5px; text-decoration: none; color: white; }

nav a:hover { background-color: #ffffff; color: #434343; border-radius: 5px; }

.active { background-color: #d9d9d9; color: #434343; }