.container { width: 80%; margin: 0px auto; display: grid; grid-template-columns: repeat(5, 1fr); grid-template-rows: repeat(5, 100px); text-align: center; }

button { display: block; margin: 20px auto; }